button {
	font-family: 'Merriweather', serif;
	border: none;
	outline: none;
}

.button {
    padding: 0.3rem .9rem;
    background: $color-red;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all .1s ease-in-out;
    line-height: 24px;

    &:hover {
      background: darken($color-red, 5);
    }

    &:disabled {
      background: $color-dull-as-fuck;
      cursor: no-drop;
    }

    &.disabled {
      background: $color-dull-as-fuck;
      cursor: no-drop;
    }
}

.back-button {
    display: inline-flex;
    cursor: pointer;
    margin-top: 16px;

    img {
        width: 32px;
    }
    .back-button-text {
        margin-top: 20px;
        margin-bottom: -10px;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: 1.4px;
        margin-top: 5px;
        margin-left: 10px;
    
    }
}

.item-quantity {
	position: relative;
  display: inline-block;
  
  .text-small {
    display: none;
  }

    @media screen and (min-width: 1000px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text-small {
        display: block;
      }
    }

    .quantity-select {
        border: 1px solid $color-red;
        outline: none;
        -webkit-appearance: none;
        color: $color-red;
        border-radius: 3px;
        background: transparent; 
        padding: 0.3rem .5rem;
        min-width: 110px;
        font-size: 0.8rem;
        text-transform: capitalize;
        @media screen and (min-width: 1000px) {
          margin-left: 16px;
        }

    }

    &:after {
      content:"\A";
      border-style: solid;
      border-color: transparent $color-red transparent transparent;
      border-width: 3px;
      position: absolute;
      transform: rotate(-90deg);
      right: 10px;
      top: 12px;
  }
}

.payment-method-container {
	background-color: transparent;	
	margin-bottom: 24px;
	display: flex;

	.payment-method {
		margin-right: 24px;
		padding: 10px 20px;
		color: $color-red;
		background-color: transparent;	
		border-radius: 8px;
		border: 1px solid $color-red;
		max-width: 100px;
		cursor: pointer;

		&:hover {
			background: white;
		}
	
		&.selected {
			background: white;
		}
	}
}