.app {
    @media screen and (min-width: 1000px) {
        display: flex;
    }

    .main-content {
        width: 100%;
        padding: 30px;
        box-sizing: border-box; 

        @media screen and (min-width: 1000px) {
        padding: 70px;
        }
    }
}