.app {
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (min-width: 1000px) {
        display: flex;
    }

    .main-content {
        width: 100%;
        padding: 30px;
        box-sizing: border-box; 
        background: $color-bg;
        min-height: 100vh;

        @media screen and (min-width: 1000px) {
            padding: 70px;
        }
    }
}

.content-side-by-side {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    }
}

.checkout-not-equal {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 3fr 2fr;        
        grid-gap: 3em;
    }

    @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr; 
    }

    @media screen and (min-width: 1150px) {
        grid-template-columns: 3fr 2fr;        
    }
}

.slide-show-side-by-side {
    max-width: 400px;    

    @media screen and (min-width: 768px) {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    }

    @media screen and (min-width: 1270px) {
        max-width: none;         
    }
}
