
p, li, a, h1, h2, h3, h4, h5 {
	font-family: 'Merriweather', serif;
}

p, li, a {
	line-height: 24px;
}

h1, h2, h3, h4, h5 {
    color: $color-red;
}

a {
	text-decoration: none;
}

h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 22px;
}

h4 {
	font-size: 1.3rem;
}

.error-message {
	color: $color-red;
    font-size: 0.6rem;
	margin-top: 9px;
	line-height: 14px;
}

#error-county {
	position: relative;
    top: -40px;
    margin-bottom: -16px;
    grid-area: 2 / 2;
}

.header-title {
	font-size: 3rem;
	display: block;
	margin-bottom: 24px;

	@media screen and (min-width: 1000px) {
		display: inline-block;
	}
}

.list-flex {
	font-size: 0.9rem;

	.ellipsis {
		@media screen and (min-width: 1400px) {
			white-space: nowrap;
			max-width: 240px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}

	li {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6px;
	}
	.overview-delivery-cost {
		font-size: .9rem;
	}
	.overview-total-text {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1rem;	
	}
	.overview-total-price {
		font-weight: bold;
		font-size: 1rem;
	}

	&.sub-total {
		li {
			margin-bottom: 5px;
			margin-top: 3px;
		}
	}
}

.text-small {
	font-size: .6rem;
	cursor: pointer;
    line-height: 0;
    padding: 8px 0 8px 14px;
    border: $color-red 1px solid;
    border-radius: 4px;
	margin-top: 12px;
	user-select: none;
	width: 53px;
}

.product-title, .product-price {
	color: $color-red;
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 0.9rem;

	@media screen and (min-width: 1000px) {
		padding-left: 24px;
	}
}

.product-title {
	@media screen and (min-width: 1000px) {
		padding-right: 12px;
	}
}

.product-price {
	font-style: italic;
	font-size: 0.9rem;
	padding-bottom: 20px;
	margin-top: 10px;
}

.link {
	text-decoration: none;
}

.title-option {
	font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: -8px;
}