
p, li, a, h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
    color: $color-red;
}

h4 {
    font-size: 1.3rem;
}

li {
    font-size: 1.1rem;
}

.header-title {
    float: left;
    font-size: 3rem;
}