.footer {
    text-align: center;
    background: $color-red;
    padding: 30px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .footer-logo {
        width: 100%;
        max-width: 260px;
        margin-top: 6px;
        @media screen and (min-width: 768px) {
            margin-left: -10px;
        }
    }

    .footer-items {
        width: 100%;

        @media screen and (min-width: 768px) {
            max-width: 550px;
        }

        ul {
            color: white;
            margin-top: 24px;

            @media screen and (min-width: 768px) {
                margin-top: 8px;
                display: flex;
                justify-content: space-around;
            }

            li {
                margin-bottom: 8px;
                cursor: pointer;
                transition: all 166ms ease-in-out;
                font-size: 0.9rem;
                letter-spacing: .7px;
                font-weight: bolder;
                position: relative;
                top: 5px;

                &:hover {
                    color: $color-charcoal;
                }
            }
        }
    }
}