.header {
    .mobile-filter {
        margin-top: 30px;
        @media screen and (min-width: 1000px) {
            display: none;
        }
    }

    &.shop {
        .header-title {
            margin-bottom: 0;
        }
        @media screen and (min-width: 1000px) {
            .header-title {
                display: none;
            }
        }
    }
}
.basket-wrapper {
    display: none;
    @media screen and (min-width: 1000px) {
        display: block;
        color: $color-charcoal;
        width: 44px;
        position: relative;
        float: right;
    }

    &.mobile {
        display: inline-block;
        position: absolute;
        right: -4px;
        top: -5px;
        width: 30px;
    }

    .basket-amount {
        background: #E26567;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        right: 2px;
        text-align: center;
        justify-content: center;
        display: flex;
        color: white;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
}
