.header {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    box-sizing: border-box;
    padding-top: 70px;

    &.shop {
        width: 250px;

        @media screen and (min-width: 600px) {
            width: auto;
        }
    }

    .header-basket {
        display: none;
        @media screen and (min-width: 1000px) {
            display: block;
            float: right;
            position: relative;
        }
    }
}
