.navigation {
    padding: 20px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(30, 13, 45, 0.05), 0 4px 48px rgba(30, 13, 45, 0.04);
    background: white;
    box-sizing: border-box;

    &.banner {
        top: 40px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
        margin: 0;
        padding-left: 4vw;
        margin-bottom: 0;
        position: relative;
        box-shadow: none;
        padding-top: 0;
        top: 0;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 70px;
    }

    @media screen and (min-width: 1600px) {
        padding-left: 8vw;
    }

    &.shop {
        padding: 40px 20px;

        @media screen and (min-width: 1000px) {
            padding: 25px 0;
        }
    }

    .sticky {
        position: relative;
        width: 100%;

        @media screen and (min-width: 1000px) {
            position: sticky;
            right: 0;
            top: 0;
            padding: 0;
            width: auto;
            height: 100vh;
        }

        .menu {
            display: inline-block;
            cursor: pointer;

            .hamburger-icon {
                width: 30px;
            }

            @media screen and (min-width: 1000px) {
                display: none;
            }
        }

        .navigation-logo {
            margin: 0 auto;
            width: 180px;
            margin-left: -10px;
            margin-top: 4px;
        
            @media screen and (min-width: 1000px) {
                position: relative;
                width: 250px;
                padding: 60px 0;
            }
        }
        .navigation-items {
            display: none;
            @media screen and (min-width: 1000px) {
                display: block;
                max-width: 300px;
            }
            .hide-shop-mobile {
                @media screen and (max-width: 1000px) {
                    display: none;
                }
            }

            h4, ul {
                display: none;
            }

            .category-wrapper {
                overflow: hidden;
            }

            .show-more-categories {
                display: flex;
                align-items: center;
                margin: 12px 0 24px 0px;
                padding: 0;
                cursor: pointer;
                padding-bottom: 4px;
                background: transparent;

                .chevron {
                    width: 12px;
                    margin-left: 12px;
                }
            }

            &.show-mobile-menu {
                display: block;
                background: white;
                border: 1px solid red;
                padding: 20px 20px 3px;
                border-radius: 8px;
                margin-top: 10px;
                h4, ul {
                    text-transform: capitalize;
                    letter-spacing: 0.6px;
                    margin-bottom: 12px;
                    font-size: 1.2rem;
                    display: block;
                }
            }

            @media screen and (min-width: 1000px) {
                // padding-left: 45px;
                width: auto;
                height: auto;

                h4, ul {
                    display: block;
                }
            }
    a {
        display: inline-block;
        margin-right: 35%;
        h4 {
            margin-bottom: 12px;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: bold;
            &:hover {
                color: darken($color-red, 5);
            }
        }
    }


            ul {
                margin: 0 0 8px 50px;
    
                li {
                    color: $color-charcoal;
                    line-height: 1.7rem;
                    font-size: 0.9rem;
                    text-transform: capitalize;
                    position: relative;
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 35%;
                    transition: all 166ms ease-in-out;

                    &:hover {
                        color: $color-red;
                        &:after {
                            background: $color-red;
                        }
                    }

                    &:after {
                        content: '';
                        width: 10px;
                        height: 1px;
                        background: $color-charcoal;
                        position: absolute;
                        left: -24px;
                        top: 13px;
                        border-radius: 25%;
                    }
                }
            }
        }

        .navigation-basket {
            position: absolute;
            right: 30px;
            top: 6px;
            width: 30px;
            height: 30px;
            background: red;
            @media screen and (min-width: 1000px) {
                display: none;
            }
        }
    }
}

.social-items {
    display: none;

    &.contact {
        display: flex;
        position: absolute;
        bottom: 24px;

        .social-link {
            margin-right: 8px;
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
            background: url('./images/icons/icon-insta.svg');
            border-radius: 50%;
            cursor: pointer;
            &:nth-child(2) {
                background-repeat: no-repeat;
                background: url('./images/icons/icon-facebook.svg');
            }

            &:nth-child(3) {
                background-repeat: no-repeat;
                background: url('./images/icons/icon-etsy.svg');
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .social-items {
        display: flex;
        position: absolute;
        bottom: 24px;

        .social-link {
            margin-right: 8px;
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
            background: url('./images/icons/icon-insta.svg');
            border-radius: 50%;
            cursor: pointer;
            &:nth-child(2) {
                background-repeat: no-repeat;
                background: url('./images/icons/icon-facebook.svg');
            }

            &:nth-child(3) {
                background-repeat: no-repeat;
                background: url('./images/icons/icon-etsy.svg');
            }
        }

    }
}