.selected-item {
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: $color-red solid 1px;
    border-radius: 8px;
    margin-bottom: 24px;
    height: 130px;
    padding: 0 10px;
    box-sizing: border-box;
    color: $color-red;

    @media screen and (min-width: 600px) {
        grid-template-columns: 1.2fr 3fr 2fr;
        height: none;
        padding: 0;
    }

    .item-image-wrapper {
        height: 100%;
        width: 110px;
        overflow: hidden;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: none;
        @media screen and (min-width: 600px) {
            display: block;
        }

        .item-image {
            @media screen and (min-width: 600px) {
                display: block; 
                height: 100%;
                position: relative;
                left: -35px;
            }
        }
    }

    .item-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .item {
            margin-left: 20px;
            .item-title {
                margin-bottom: 8px;
                max-width: 220px;
            }
        }
    }

    .item-remove {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .item-price {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 20px;

            .price {
                font-size: 1.5rem;
            }
        }
    }

}

.checkout-overview {
    width: 100%;
    background: white;
    border: $color-red 1px solid;
    border-radius: 8px;
    padding: 24px;
    display: inline-table;
    box-sizing: border-box;
    margin-top: 24px;
    color: $color-charcoal;

    @media screen and (min-width: 768px) {
        max-width: 380px;  
        position: sticky;
        top: 80px;
    }

    @media screen and (min-width: 1000px) {
        max-width: none;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;         
    }

    .total { 
        margin: 24px 0;

        .sub-total {
            margin-top: 20px;
            border-top: 1px solid $color-charcoal;
            border-bottom: 1px solid $color-charcoal;

            li {
            
                p {
                    margin-top: 4px;
                }
            }
        }
    }
}
