.shop {
    max-width: 890px;
    margin: 0 auto;
    .shop-gallery {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: 1fr; 

        @media screen and (min-width: 600px) {
            grid-template-columns: 1fr 1fr; 
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr; 
        }

        @media screen and (min-width: 1000px) {
            grid-template-columns: 1fr 1fr; 
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        // @media screen and (min-width: 1320px) {
        //     grid-template-columns: 1fr 1fr 1fr 1fr;
        // }

        .shop-items {
            max-width: 220px;
            overflow: hidden;
        }

        .shop-images {
            width: 250px;
            height: 220px;
            margin-bottom: 20px;

            position: relative;
            left: -45px;

            @media screen and (min-width: 600px) {
                width: auto;
            }
        }

        p {
            margin-bottom: 8px;
        }
    }
}