.header {
    margin: 0 auto;
    height: 100px;
    padding: 70px 30px 0 30px;
    max-width: 980px;

    @media screen and (min-width: 1000px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        padding: 70px 0 0 0;
    }


    .mobile-filter {
        margin-top: 30px;
        @media screen and (min-width: 1000px) {
            display: none;
        }
    }

    &.shop {
        @media screen and (min-width: 600px) {
            width: auto;
            padding: 70px 0px;
            max-width: 480px;
        }

        @media screen and (min-width: 768px) {
            max-width: 780px;
            padding: 70px 30px;
        }

        @media screen and (min-width: 780px) {
            // padding: 70px 30px;
        }

        @media screen and (min-width: 1000px) {
            height: 100px;
            display: flex;
        justify-content: space-between;
        }

        @media screen and (min-width: 1200px) {
            height: 100px;
            padding: 70px 0px;
        }
    }
}
.basket-wrapper {
    display: none;
    color: $color-charcoal;
    width: 44px;
    position: relative;
    @media screen and (min-width: 1000px) {
        display: inline-block;
        position: relative;
    }

    &.mobile {
        display: inline-block;
        position: absolute;
        right: 30px;
        margin-top: -6px;
    }

    .basket-amount {
        background: #E26567;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        right: 2px;
        text-align: center;
        justify-content: center;
        display: flex;
        color: white;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
}
