.navigation {
    padding: 25px 0;
    @media screen and (min-width: 1000px) {
        margin: 0;
        background: white;
    }

    .sticky {
        position: relative;
        padding: 0 30px;
        @media screen and (min-width: 1000px) {
            position: sticky;
            top: 0;
            padding: 0;
        }

        .menu {
            display: inline-block;
            cursor: pointer;
            .hamburger-icon {
                width: 30px;
            }

            @media screen and (min-width: 1000px) {
                display: none;
            }
        }

        .navigation-logo {
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 233px;

            @media screen and (min-width: 768px) {
                top: -3px;
            }
        
            @media screen and (min-width: 1000px) {
                position: relative;
                width: 250px;
                padding: 0 30px;
                margin: 60px 0 50px 0;
            }
        }
        .navigation-items {

            .hide-shop-mobile {
                @media screen and (max-width: 1000px) {
                    display: none;
                }
            }

            h4, ul {
                display: none;
            }

            &.hello {
                display: block;
                background: $color-dull-as-fuck;
                border: 1px solid red;
                padding: 20px 20px 3px;
                border-radius: 8px;
                margin-top: 10px;
                h4, ul {
                    text-transform: capitalize;
                    letter-spacing: 0.6px;
                    margin-bottom: 12px;
                    font-size: 1.2rem;
                    display: block;
                }
            }

            @media screen and (min-width: 1000px) {
                padding-left: 45px;
                width: auto;
                height: auto;

                h4, ul {
                    display: block;
                }
            }
    
            h4 {
                margin-bottom: 12px;
            }

            ul {
                margin: 0 0 8px 20px;
    
                li {
                    font-size: 1rem;
                    line-height: 1.8rem;
                    color: $color-charcoal;
                }
            }
        }

        .navigation-basket {
            position: absolute;
            right: 30px;
            top: 6px;
            width: 30px;
            height: 30px;
            background: red;
            @media screen and (min-width: 1000px) {
                display: none;
            }
        }
    }
    
    .social-items {
        display: none;
    }

    @media screen and (min-width: 1000px) {
        .social-items {
            display: flex;
            position: sticky;
            top: 670px; 
            justify-content: end;
            padding-left: 30px;

            a {
                margin-right: 8px;
                width: 35px;
                height: 35px;
                background-repeat: no-repeat;
                background: url('./images/icons/icon-insta.svg');
                border-radius: 50%;
                cursor: pointer;
                &:nth-child(2) {
                    background-repeat: no-repeat;
                    background: url('./images/icons/icon-facebook.svg');
                }

                &:nth-child(3) {
                    background-repeat: no-repeat;
                    background: url('./images/icons/icon-etsy.svg');
                }
            }

        }
    }
}